Repository DICKY1987/eafix-modular: changes, and which pre-commit hooks are due for each by the changed paths.
All: contract-validation, p-tests-integration, docker-digest-pinning

contract-validation:
  name: Trading System Contract Validation
  entry: make contracts-validate-full
  language: system
  pass_filenames: false

p-tests-integration:
  name: P_ Folder Integration Tests
  entry: python P_tests/integration/test_p_folder_integration.py
  language: system
  pass_filenames: false

docker-digest-pinning:
  name: Docker Image Digest Pinning
  entry: scripts/check-docker-digests.sh
  language: script
  pass_filenames: false

Add files via upload
  EAFIX_auth_docs/EAFIX_SSOT_REGISTRY_DELIVERY_CHECKLIST.generated.md
  EAFIX_auth_docs/EAFIX_SSOT_REGISTRY_DELIVERY_OBLIGATION_MATRIX.generated.json
  EAFIX_auth_docs/EAFIX_SSOT_REGISTRY_DELIVERY_VERIFICATION_EVIDENCE_MANIFEST.json
  EAFIX_auth_docs/EAFIX_SSOT_REGISTRY_DELIVERY_VERIFICATION_REPORT.json
  EAFIX_auth_docs/generate_eafix_ssot_registry_verification_package.py
  EAFIX_auth_docs/validate_eafix_ssot_registry_verification_package.py
Due: none

Archive project knowledge routing instructions
  EAFIX_auth_docs/99_archive_superseded_do_not_route/eafix_project_knowledge_reference_routing_instructions.json
Due: none

Archive project knowledge routing instructions (#83)
  EAFIX_auth_docs/99_archive_superseded_do_not_route/eafix_project_knowledge_reference_routing_instructions.json
Due: none

chore: add one-time stale branch cleanup
  .github/workflows/one-time-stale-branch-cleanup.yml
Due: docker-digest-pinning

chore: remove completed one-time stale branch cleanup
  .github/workflows/one-time-stale-branch-cleanup.yml
Due: docker-digest-pinning

Add files via upload
  EAFIX_auth_docs/EAFIX GOVERNANCE OPEN DECISIONS RESOLVED v1 0.md
  EAFIX_auth_docs/EAFIX INGESTION OPEN DECISIONS RESOLVED v1 0.md
  EAFIX_auth_docs/EAFIX REGISTRY INGESTION MATRIX v0 2 0.json
  EAFIX_auth_docs/EAFIX decision registry additions.jsonl
  EAFIX_auth_docs/EAFIX governance decision registry additions.jsonl
  EAFIX_auth_docs/EAFIX_GOVERNANCE_DEFECT_REMEDIATION_PLAN_v1_0_0.json
  EAFIX_auth_docs/EAFIX_GOVERNANCE_DEFECT_REMEDIATION_PLAN_v1_1_0.json
  EAFIX_auth_docs/EAFIX_GOVERNANCE_OPEN_DECISIONS_RESOLVED_v1_0.md
  EAFIX_auth_docs/EAFIX_INGESTION_OPEN_DECISIONS_RESOLVED_v1_0 2.md
  EAFIX_auth_docs/EAFIX_INGESTION_OPEN_DECISIONS_RESOLVED_v1_0.md
  EAFIX_auth_docs/EAFIX_REGISTRY_INGESTION_MATRIX_SKELETON_v0_1_0 2.json
  EAFIX_auth_docs/EAFIX_REGISTRY_INGESTION_MATRIX_SKELETON_v0_1_0 2.md
  EAFIX_auth_docs/EAFIX_REGISTRY_INGESTION_MATRIX_SKELETON_v0_1_0.json
  EAFIX_auth_docs/EAFIX_REGISTRY_INGESTION_MATRIX_SKELETON_v0_1_0.md
  EAFIX_auth_docs/EAFIX_REGISTRY_INGESTION_MATRIX_v0_2_0 2.json
  EAFIX_auth_docs/EAFIX_REGISTRY_INGESTION_MATRIX_v0_2_0 2.md
  EAFIX_auth_docs/EAFIX_REGISTRY_INGESTION_MATRIX_v0_2_0.json
  EAFIX_auth_docs/EAFIX_REGISTRY_INGESTION_MATRIX_v0_2_0.md
  EAFIX_auth_docs/EAFIX_decision_registry_additions 2.jsonl
  EAFIX_auth_docs/EAFIX_decision_registry_additions.jsonl
  EAFIX_auth_docs/EAFIX_governance_decision_registry_additions.jsonl
Due: none

Add files via upload
  EAFIX_auth_docs/0001-governance-dedup-upload-collisions.patch
  EAFIX_auth_docs/EAFIX_GOVERNANCE_PHASE00_BASELINE_REVERIFY_20260726.json
Due: none

refactor: move module manifests into module folders
  m0001-f1-config-preferences/manifest.json
  m0002-f3-clock-scheduler/manifest.json
  m0003-d2-calendar-source-adapter/manifest.json
  m0004-d3-calendar-normalizer/manifest.json
  m0005-f2-event-log/manifest.json
  m0006-d4-calendar-trigger-builder/manifest.json
  m0007-d1-market-feed-adapter/manifest.json
  m0008-c1-bar-builder/manifest.json
  m0009-c2-indicator-engine/manifest.json
  m0010-c3-feature-packager/manifest.json
  m0011-s1-signal-engine/manifest.json
  m0012-s2-intent-builder/manifest.json
  m0013-r1-risk-evaluator/manifest.json
  m0014-r2-order-intent-compiler/manifest.json
  m0015-o1-order-router/manifest.json
  m0016-b1-mt4-adapter-transport/manifest.json
  m0017-b2-mt4-ea-executor/manifest.json
  m0018-b3-exec-event-normalizer/manifest.json
  m0019-o2-oms-state-machine/manifest.json
  m0020-o3-trade-close-classifier/manifest.json
  m0021-e1-outcome-bucketizer/manifest.json
  m0022-e2-proximity-evaluator/manifest.json
  m0023-e3-matrix-lookup/manifest.json
  m0024-e4-reentry-intent-builder/manifest.json
  m0025-f4-flow-orchestrator/manifest.json
  m0026-p1-health-aggregator/manifest.json
  m0027-r3-correlation-guard/manifest.json
  m0028-u1-dashboard-backend/manifest.json
  m0029-u2-gui-gateway/manifest.json
  m0030-u3-mt4-expiry-overlay/manifest.json
  m0031-u4-desktop-operator/manifest.json
  m0032-p2-reporter/manifest.json
  m0033-sk1-plugin-interface/manifest.json
  m0034-sk2-idempotency/manifest.json
Due: none

refactor: move module manifests into module folders (#94)
  m0001-f1-config-preferences/manifest.json
  m0002-f3-clock-scheduler/manifest.json
  m0003-d2-calendar-source-adapter/manifest.json
  m0004-d3-calendar-normalizer/manifest.json
  m0005-f2-event-log/manifest.json
  m0006-d4-calendar-trigger-builder/manifest.json
  m0007-d1-market-feed-adapter/manifest.json
  m0008-c1-bar-builder/manifest.json
  m0009-c2-indicator-engine/manifest.json
  m0010-c3-feature-packager/manifest.json
  m0011-s1-signal-engine/manifest.json
  m0012-s2-intent-builder/manifest.json
  m0013-r1-risk-evaluator/manifest.json
  m0014-r2-order-intent-compiler/manifest.json
  m0015-o1-order-router/manifest.json
  m0016-b1-mt4-adapter-transport/manifest.json
  m0017-b2-mt4-ea-executor/manifest.json
  m0018-b3-exec-event-normalizer/manifest.json
  m0019-o2-oms-state-machine/manifest.json
  m0020-o3-trade-close-classifier/manifest.json
  m0021-e1-outcome-bucketizer/manifest.json
  m0022-e2-proximity-evaluator/manifest.json
  m0023-e3-matrix-lookup/manifest.json
  m0024-e4-reentry-intent-builder/manifest.json
  m0025-f4-flow-orchestrator/manifest.json
  m0026-p1-health-aggregator/manifest.json
  m0027-r3-correlation-guard/manifest.json
  m0028-u1-dashboard-backend/manifest.json
  m0029-u2-gui-gateway/manifest.json
  m0030-u3-mt4-expiry-overlay/manifest.json
  m0031-u4-desktop-operator/manifest.json
  m0032-p2-reporter/manifest.json
  m0033-sk1-plugin-interface/manifest.json
  m0034-sk2-idempotency/manifest.json
Due: none

docs: add file_list.txt with all repo file paths (#95)
  file_list.txt
Due: none

chore(docs): normalize invalid filenames
  EAFIX_auth_docs/02_module_architecture_and_atomic_migration/EAFIX_ATOMIC_MANIFEST_POPULATION_FIX_PLAN_V1_0_0.txt
  EAFIX_auth_docs/11_validation_quality_and_automation/Missing_needed artifacts.txt
Due: none

fix(validation): restore reproducible migration gates
  artifacts/migration/validation_baseline_repair_report.json
  doc_id_subsystem/README.md
  doc_id_subsystem/__init__.py
  doc_id_subsystem/core/__init__.py
  doc_id_subsystem/core/doc_id_scanner.py
  doc_id_subsystem/validation/__init__.py
  doc_id_subsystem/validation/doc_id_coverage_baseline.json
  doc_id_subsystem/validation/known_duplicates.json
  doc_id_subsystem/validation/validate_doc_id_coverage.py
  doc_id_subsystem/validation/validate_doc_id_uniqueness.py
  lib/cost_tracker.py
  requirements.txt
  tests/automation_descriptor/test_work_queue.py
  tests/benchmarks/test_gdw_bench.py
  tests/doc_id_subsystem/test_doc_id_scanner.py
  tests/test_git_adapter.py
  tests/test_identity_pipeline.py
  tests/test_policy_gate.py
  tests/test_validators.py
  tests/test_watcher.py
Due: none

fix(ci): authenticate PR title lint
  .github/workflows/pr-title-lint.yml
Due: docker-digest-pinning

fix(validation): remove tests for retired subsystems
  artifacts/migration/full_suite_baseline_closure_report.json
  tests/test_generator_update.py
  tests/test_gui_terminal_core.py
  tests/test_validator_update.py
Due: none

test(validation): retain legacy registry failure coverage
  artifacts/migration/full_suite_baseline_closure_report.json
  tests/test_generator_update.py
  tests/test_validator_update.py
Due: none

style(test): remove trailing blank line
  tests/test_generator_update.py
Due: none

fix(migration): restore P10 test discovery
  artifacts/migration/P10_independent_review_report.json
  pytest.ini
Due: none

migration(p10): execute approved direct file relocations
  EAFIX_auth_docs/01_canonical_registries/contract_registry.jsonl
  EAFIX_auth_docs/03_process_lifecycle_and_crosswalks/PROCESS_SPEC_SOURCE_GROUNDED_v1.0.md
  EAFIX_auth_docs/generated/registries/contract_registry.current.json
  EAFIX_auth_docs/generated/registries/eafix_registry_graph.current.json
  EAFIX_auth_docs/generated/registries/registry_build_manifest.json
  EAFIX_physical_file_migration_map_v1_0_0.json
  artifacts/migration/P10_migration_execution_evidence.json
  artifacts/migration/P10_preflight_report.json
  contracts/schemas/json/1199900010260118_reentry_key.schema.json
  docs/reference/1110000004260118_indicator_records_full.json
  docs/reference/1110000005260118_indicator_records_sample.json
  m0009-c2-indicator-engine/m0009-config/indicator_records_full.json
  m0009-c2-indicator-engine/m0009-schemas/examples/indicator_records_sample.json
  m0009-c2-indicator-engine/m0009-schemas/inputs/1199900011260118_indicator_record.schema.json
  m0009-c2-indicator-engine/m0009-src/c2_indicator_engine/advanced_indicators.py
  m0009-c2-indicator-engine/m0009-tests/contract/fixtures/indicator_record_valid.json
  m0009-c2-indicator-engine/manifest.json
  m0016-b1-mt4-adapter-transport/m0016-docs/architecture/0110000076260118_07_transport_bridge_contracts.md
  m0016-b1-mt4-adapter-transport/manifest.json
  m0023-e3-matrix-lookup/m0023-config/reentry_vocab.json
  m0023-e3-matrix-lookup/m0023-docs/architecture/0110000074260118_06_signal_model_mapping.md
  m0023-e3-matrix-lookup/m0023-tests/contract/test_hybrid_id_parity.py
  m0023-e3-matrix-lookup/manifest.json
  m0024-e4-reentry-intent-builder/m0024-context/work-cells/E4_REENTRY_INTENT_BUILDER__CHAIN_LIMITS_AND_SUPPRESSION.json
  m0024-e4-reentry-intent-builder/manifest.json
  m0028-u1-dashboard-backend/manifest.json
  m0031-u4-desktop-operator/m0031-src/frontend/tkinter_dashboard_gui.py
  m0031-u4-desktop-operator/manifest.json
  m0033-sk1-plugin-interface/m0033-tests/unit/test_plugin_system.py
  m0033-sk1-plugin-interface/manifest.json
  shared/reentry/vocab.py
Due: contract-validation, p-tests-integration

chore(migration): finalize P10 execution evidence
  artifacts/migration/P10_migration_execution_evidence.json
Due: none

chore(migration): refresh P10 evidence after rebase
  artifacts/migration/P10_independent_review_report.json
  artifacts/migration/P10_migration_execution_evidence.json
Due: none

chore(migration): finalize P10 revalidation evidence
  EAFIX_auth_docs/generated/registries/registry_build_manifest.json
  artifacts/migration/P10_independent_review_report.json
  artifacts/migration/P10_migration_execution_evidence.json
Due: none

fix(p10): preserve dashboard indicator runtime import
  artifacts/migration/P10_independent_review_report.json
  artifacts/migration/P10_migration_execution_evidence.json
  m0028-u1-dashboard-backend/manifest.json
  services/dashboard-backend/src/advanced_indicators.py
  tests/migration/test_p10_dashboard_indicator_compatibility.py
Due: p-tests-integration

fix(p10): package dashboard indicator dependency
  artifacts/migration/P10_independent_review_report.json
  artifacts/migration/P10_migration_execution_evidence.json
  m0009-c2-indicator-engine/m0009-src/c2_indicator_engine/__init__.py
  m0009-c2-indicator-engine/m0009-src/c2_indicator_engine/advanced_indicators.py
  m0009-c2-indicator-engine/manifest.json
  m0009-c2-indicator-engine/pyproject.toml
  m0028-u1-dashboard-backend/manifest.json
  services/dashboard-backend/requirements.txt
  services/dashboard-backend/src/advanced_indicators.py
  tests/migration/test_p10_dashboard_indicator_compatibility.py
Due: p-tests-integration

Revert "fix(p10): package dashboard indicator dependency"
  artifacts/migration/P10_independent_review_report.json
  artifacts/migration/P10_migration_execution_evidence.json
  m0009-c2-indicator-engine/m0009-src/c2_indicator_engine/__init__.py
  m0009-c2-indicator-engine/m0009-src/c2_indicator_engine/advanced_indicators.py
  m0009-c2-indicator-engine/manifest.json
  m0009-c2-indicator-engine/pyproject.toml
  m0028-u1-dashboard-backend/manifest.json
  services/dashboard-backend/requirements.txt
  services/dashboard-backend/src/advanced_indicators.py
  tests/migration/test_p10_dashboard_indicator_compatibility.py
Due: p-tests-integration

Revert "fix(p10): preserve dashboard indicator runtime import"
  artifacts/migration/P10_independent_review_report.json
  artifacts/migration/P10_migration_execution_evidence.json
  m0028-u1-dashboard-backend/manifest.json
  services/dashboard-backend/src/advanced_indicators.py
  tests/migration/test_p10_dashboard_indicator_compatibility.py
Due: p-tests-integration

docs(p10): classify dashboard import finding
  artifacts/migration/P10_independent_review_report.json
Due: none

refactor(p20): regenerate canonical projections and work cells
  docs/reference/generated/indicator_record.schema.json
  m0017-b2-mt4-ea-executor/m0017-context/work-cells/EA_SYSTEM_D_EXECUTION_FEEDBACK__MQL4_ORDER_RESULT.json
  m0017-b2-mt4-ea-executor/manifest.json
  m0027-r3-correlation-guard/m0027-context/work-cells/R1_4_CORRELATION_GUARDS.json
  m0027-r3-correlation-guard/manifest.json
  m0029-u2-gui-gateway/m0029-context/work-cells/UI_GATEWAY_REST_API_GATEWAY.json
  m0029-u2-gui-gateway/m0029-context/work-cells/UI_GATEWAY_WEBSOCKET_GATEWAY.json
  m0029-u2-gui-gateway/manifest.json
  m0034-sk2-idempotency/m0034-context/work-cells/R1_7_IDEMPOTENCY_DUPLICATE_ORDER_PREVENTION.json
  m0034-sk2-idempotency/manifest.json
  services/dashboard-backend/work_cells/UI_GATEWAY_REST_API_GATEWAY.json
  services/dashboard-backend/work_cells/UI_GATEWAY_WEBSOCKET_GATEWAY.json
  services/risk-manager/work_cells/R1_4_CORRELATION_GUARDS.json
  services/risk-manager/work_cells/R1_7_IDEMPOTENCY_DUPLICATE_ORDER_PREVENTION.json
  tests/migration/test_p20_regeneration.py
  tools/migration/generate_p20_outputs.py
Due: p-tests-integration

docs(p20): record regeneration execution evidence
  artifacts/migration/P20_migration_execution_evidence.json
Due: none

docs(p20): record independent review
  artifacts/migration/P20_migration_execution_evidence.json
Due: none

Add files via upload
   HUEY-Powered Atomic Process Framework - GUI Interface Specification.txt
  EAFIX_PROCESS_AUTHORITY_REPAIR_AND_REGISTRY_CONSOLIDATION_PLAN_v1_0_0.json
  EAFIX_PROCESS_AUTHORITY_REPAIR_AND_REGISTRY_CONSOLIDATION_PLAN_v1_1_0.json
  Socket Communication Architecture for MQL4 EA.txt
Due: none

Add files via upload
  Explanation_ module_governance_glossary.json.txt
  Schema_module_governance_glossary.txt
  U_module governance glossary.txt
  Y_module governance glossary.json
  atomic_two_id_tooling_bundle_glossary.zip
  module governance glossary bulk terms.json
  module governance glossary.json
  schema_version_ module_governance_glossary.txt
  x_module governance glossary bulk terms.json
Due: none

fix: harden process consolidation gates
  EAFIX_auth_docs/01_canonical_registries/decision_registry.jsonl
  EAFIX_auth_docs/01_canonical_registries/registry_conflict_queue.jsonl
  EAFIX_auth_docs/01_canonical_registries/schemas/process_step_registry_record.schema.json
  EAFIX_auth_docs/01_canonical_registries/schemas/registry_conflict_record.schema.json
  EAFIX_auth_docs/EAFIX_PROCESS_CONSOLIDATION_RUNBOOK_v1_1_0.md
  EAFIX_auth_docs/process_consolidation/HD-PC-01_field_adjudication.json
  EAFIX_auth_docs/process_consolidation/PROCESS_AUTHORITY_LINEAGE_DECISION.json
  EAFIX_auth_docs/process_consolidation/process_consolidation_source_manifest.schema.json
  EAFIX_auth_docs/process_consolidation/process_extraction_record.schema.json
  EAFIX_auth_docs/process_consolidation_source_manifest_v1_1_0.json
  tools/registries/registry_core.py
  tools/registries/verify_process_consolidation.py
Due: none

feat: enrich process registry content
  EAFIX_auth_docs/01_canonical_registries/process_registry.jsonl
Due: none

fix: allow governed step-04 content mutations
  tools/registries/verify_process_consolidation.py
Due: none

chore: record content-stage evidence
  .state/evidence/process-consolidation/STEP-04-content.json
  .state/evidence/process-consolidation/STEP-06-content.json
  .state/evidence/process-consolidation/STEP-07-content.json
  EAFIX_auth_docs/generated/registries/decision_registry.current.json
  EAFIX_auth_docs/generated/registries/eafix_registry_graph.current.json
  EAFIX_auth_docs/generated/registries/process_registry.current.json
  EAFIX_auth_docs/generated/registries/registry_build_manifest.json
  EAFIX_auth_docs/generated/registries/registry_completeness_report.json
  EAFIX_auth_docs/generated/registries/registry_system.generated.md
Due: none

feat: execute staged process cutover
  EAFIX_auth_docs/00_doc_control_and_authority/doc_authority.json
  EAFIX_auth_docs/01_canonical_registries/decision_registry.jsonl
  EAFIX_auth_docs/01_canonical_registries/process_registry.jsonl
  EAFIX_auth_docs/01_canonical_registries/registry_conflict_queue.jsonl
  EAFIX_auth_docs/03_process_lifecycle_and_crosswalks/README.md
  EAFIX_auth_docs/12_ai_summary_routers_and_reference_guides/eafix_project_knowledge_summary_router.json
  EAFIX_auth_docs/99_archive_superseded_do_not_route/0110000081260118_HUEY_P_UNIFIED_SPECIFICATION.md
  EAFIX_auth_docs/99_archive_superseded_do_not_route/0199900080260118_TRADE_PLACEMENT_FLOW.md
  EAFIX_auth_docs/99_archive_superseded_do_not_route/EAFIX_ATONIC_ End-to-End Trading Lifecycle Process.md
  EAFIX_auth_docs/99_archive_superseded_do_not_route/PROCESS_SPEC_SOURCE_GROUNDED_v1.0.md
  EAFIX_auth_docs/99_archive_superseded_do_not_route/Q-R_atonic to canonical crosswalk.txt
  EAFIX_auth_docs/99_archive_superseded_do_not_route/atonic to canonical crosswalk.csv
  EAFIX_auth_docs/99_archive_superseded_do_not_route/source_grounded_trading_process_spec.md
  EAFIX_auth_docs/doc_authority.json
  eafix_project_knowledge_reference_routing_instructions.json
Due: none

chore: record cutover evidence
  .state/evidence/process-consolidation/STEP-08-archive-relocation-map.json
  .state/evidence/process-consolidation/STEP-08-cutover-packet.json
  .state/evidence/process-consolidation/STEP-08-cutover.json
  .state/evidence/process-consolidation/STEP-09-cutover.json
  EAFIX_auth_docs/generated/registries/decision_registry.current.json
  EAFIX_auth_docs/generated/registries/eafix_registry_graph.current.json
  EAFIX_auth_docs/generated/registries/process_registry.current.json
  EAFIX_auth_docs/generated/registries/registry_build_manifest.json
  EAFIX_auth_docs/generated/registries/registry_completeness_report.json
  EAFIX_auth_docs/generated/registries/registry_system.generated.md
  EAFIX_auth_docs/process_consolidation/PROCESS_CONSOLIDATION_COMPLETION_REPORT.md
Due: none

Add files via upload
  # Comprehensive Trading EA Implemen.txt
  Development Blueprint MQL4 Executio.txt
  HUEY_P_ClaudeCentric Trading System.txt
  HUEY_P_ClaudeCentric.txt
  HUEY_P_STANDARDS_mql4_coding.txt
  HUEY_P_STANDARDS_python_coding.txt
  Im looking to use the native functi.txt
  MQL4 Trading Signal Generator - Production Ready.txt
  Part 1_ MT4 Files (EA and Includes).md
  Part 3_ Python Server Files.md
  ReentryLogic.mqh.txt
  Section System Architecture.txt
  SignalProcessor.mqh.txt
  StateManager.mqh.txt
  complete_enhanced_trading_system.txt
  consistency_subsystems_docs.md
  file_based_bridge.py
  huey_ea_enhanced.txt
  huey_p_technical_manual.md
  mql4_python_bridge.txt
  mql4_universal_converter (1).py
  mt4_dde_system.py
  mt4_signal_interface_spec.md
  python_dde_client.py
  python_price_server.py
  signal-expiry of derivatives tied to forex markets.txt
  system.txt
  trading_interface_design.md
  trading_system_parameters.json
Due: none

Path conditions:
  contract-validation: any of: ^contracts/
  p-tests-integration: any of: ^(services/|shared/|contracts/|P_tests/)
  docker-digest-pinning: any of: ^(.*Dockerfile|.*docker-compose.*\.yml|\.github/workflows/.*\.yml)$
